* { outline:none; }

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

header{    
    position: relative;
    z-index: 2;
    padding: 10px 0;   
    background-color: $dark;     
}
@include media-breakpoint-up(lg) { 
    header{
        background-color: transparent !important;
    }    
}

/* Navbar */
.navbar .nav-link{
    letter-spacing: 1px;
    opacity: 1 !important;
    color: #fff !important;
    font-size: 0.8rem;
}
/* End Navbar */

/* Webdoor */
.webdoor{
    position: relative;
    top: 0;
    z-index: 1;
    margin-top: -60px;
} 
.webdoor .slide-content{
    width: 100%;
    padding-top: 30vh;
    padding-bottom: 30vh;
    text-align: center;
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    z-index: 3;
}
.webdoor .slide-content > div{
    position: relative;
    z-index: 2;
}
.webdoor .slide-content:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
/* End Webdoor */

/* Section */
section .section-title h2{
    text-transform: uppercase;
    color: white;
}
section .section-title h2:after{
    content: "";
    width: 100px;
    height: 1px;
    border-top: 1px solid $primary;
    display: block;
    margin-top: 10px;    
}
/* End Section */

/* Card */
.card.video{
    position: relative;
}
.card.video > div{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    color: rgba(255,255,255,0.5);
}
/* End Card */

/* Swiper */
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-wrapper{
    padding-bottom: 40px;
}
.swiper-pagination-bullet{
    background-color: $light;
}
.swiper-pagination-bullet-active {
    background-color: $primary;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1.2rem;
}
@include media-breakpoint-up(sm) { 
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: -20px;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
        right: -20px;
    }
}
.swiper-button-disabled{
    display: none;
}
.swiper-container-horizontal > .swiper-scrollbar{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 0 auto;
    left: 0;
}
.swiper-scrollbar-drag{
    height: 5px;
    top: -2px;
    background: $primary;
}
/* End Swiper */

/* Footer */
footer .social-networks{
    text-align: center;    
}
footer .social-networks svg{
    width: 40px;
    height: 40px;
    background-color: $primary;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    margin: 0 5px;
}
/* End Footer */

/* Constrast */
.contrast_option{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
}
.contrast_option.contrast_default{
    background-color: $dark;
}
.contrast_option.contrast_white{
    background-color: #f2f2f2;
    border: 1px solid $dark;
}
/* End Constrast */


/* Acessibilidade Contrast */
.contrast .bg-dark{
    background-color: #fff !important;    
}
.contrast .bg-secondary{
    background-color: #fff !important; 
}
.contrast .text-white{
    color: #333 !important;
}
.contrast .text-white.skip-contrast{
    color: #fff !important;
}
/* End Acessibilidade */

/* Acessibilidade Font Size */
body.large{
    font-size: 1.4rem !important;
}
body.large .nav-link{
    font-size: 1rem !important; 
}
body.large h1,
body.large .h1{
    font-size: calc(1.375rem + 2.5vw) !important;
}
body.large h2,
body.large .h2{
    font-size: calc(1.325rem + 1.3vw) !important;
}
body.large h3,
body.large .h3{

}
body.large h4,
body.large .h4{

}
body.large h5,
body.large .h5{

}
body.large h6,
body.large .h6{

}
body.large .lead{
    font-size: 2rem !important;
}
body.large .btn{
    font-size: 1.6rem !important;
}
/* End Acessibilidade Font Size */