$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;

// Colors
$primary: #ED145B;
$dark: #1d1d1d;
$secondary: #242424;

// Body
$body-bg: #fff;

// Rounded
$enable-rounded: false;

// Typography
$enable-responsive-font-sizes: true;
$font-size-base: 1rem;
$link-color: #333;

// Card
$card-border-width: 0;